.loading{
    background: url('../../Imagenes/loading.ro.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}


