.container{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    top: 10px;
    left: 40%;
}

.container input{
    height: 30px;
    width: 300px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    border: 0.1px solid rgb(255, 105, 50);
    color: rgba(0, 0, 0, 0.683);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.container button{
    background-color: rgb(194, 0, 0);
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 50px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}

.container button:hover{
    box-shadow: 0px 0px 15px 0px #e1e1e1;
    cursor: pointer;
}

@media (max-width: 920px){
    .container input{
         font-size: 15px;
         height: 25px;
          width: 250px;
        
     }
    
 }
 
 @media (max-width: 850px){
    .container input   {
          font-size: 15px;
          height: 25px;
          width: 230px;
      }
      .container button {
        height: 33px;
    width: 40px;
      }
  }
  
  @media (max-width: 620px){
    .container input {
          font-size: 14px;
          height: 20px;
          width: 210px;
      
      
      }
      .container button {
        height: 30px;
    width: 38px;
      }
  }
  @media (max-width: 500px){
    .container input  {
          font-size: 14px;
          height: 20px;
          width: 200px;

      }
      .container button {
        height: 29px;
    width: 34px;
      }
  }
  