
.container{
    height: 80px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 4px;
    margin-right: 50px;
    margin-top: 150px;
    background-color: #c9010160;
    color:white;
}
@media (max-width: 800px){
    .container{
        height: 60px;
        width: 250px;
        font-size: 12px;
       } 
}

@media (max-width: 680px){
   .container{
    height: 50px;
    width: 200px;
    font-size: 10px;
   } 
}